In [2]:
import pyspark
import pandas as pd
import numpy as np

spark = pyspark.sql.SparkSession.builder.getOrCreate()

In [16]:
pd_df = pd.DataFrame({'language': ['python', 'html', 'java', 'python', 'java', 'html', 'python',
                                   'c++', 'java', 'c+']})
pd_df

  language
0   python
1     html
2     java
3   python
4     java
5     html
6   python
7      c++
8     java
9       c+

In [17]:
sp_df = spark.createDataFrame(pd_df)
sp_df

DataFrame[language: string]

In [21]:
sp_df.printSchema()

root
 |-- language: string (nullable = true)

In [18]:
sp_df.show(5)

+--------+
|language|
+--------+
|  python|
|    html|
|    java|
|  python|
|    java|
+--------+
only showing top 5 rows

In [19]:
from pydataset import data

mpg_pd = data("mpg")
mpg_pd.head(5)

  manufacturer model  displ  year  cyl       trans drv  cty  hwy fl    class
1         audi    a4    1.8  1999    4    auto(l5)   f   18   29  p  compact
2         audi    a4    1.8  1999    4  manual(m5)   f   21   29  p  compact
3         audi    a4    2.0  2008    4  manual(m6)   f   20   31  p  compact
4         audi    a4    2.0  2008    4    auto(av)   f   21   30  p  compact
5         audi    a4    2.8  1999    6    auto(l5)   f   16   26  p  compact

In [20]:
mpg = spark.createDataFrame(data("mpg"))
mpg.show(5)

+------------+-----+-----+----+---+----------+---+---+---+---+-------+
|manufacturer|model|displ|year|cyl|     trans|drv|cty|hwy| fl|  class|
+------------+-----+-----+----+---+----------+---+---+---+---+-------+
|        audi|   a4|  1.8|1999|  4|  auto(l5)|  f| 18| 29|  p|compact|
|        audi|   a4|  1.8|1999|  4|manual(m5)|  f| 21| 29|  p|compact|
|        audi|   a4|  2.0|2008|  4|manual(m6)|  f| 20| 31|  p|compact|
|        audi|   a4|  2.0|2008|  4|  auto(av)|  f| 21| 30|  p|compact|
|        audi|   a4|  2.8|1999|  6|  auto(l5)|  f| 16| 26|  p|compact|
+------------+-----+-----+----+---+----------+---+---+---+---+-------+
only showing top 5 rows